/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
} */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/******** GLOBAL STYLES ********/
html {
  font-size: 1rem;
  min-height: 500px;
  padding: 0;
}

body {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  color: #e2e3ed;
  text-align: center;
  background-image: url("../img/background.png");
  background-position: top;
  background-color: #0e0d0d;
}

/******** HEADER STYLES ********/
.logo-img img {
  vertical-align: middle;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
}

/******** MAIN STYLES ********/

.mission-wrapper,
.lets-connect-wrapper,
.slider-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 100px 20px 20px 20px;
}

.mission-wrapper {
  background-color: #B19376;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 80%;
}

.mission-text,
.mission-title {
  font-family: "Montserrat", sans-serif;
}

.mission-title {
  font-size: 45px;
  text-align: center;
  color: #fff;
}

.mission-text {
  color: #fff;
  font-size: 2.5em;
  text-align: center;
}

.slider-wrapper {
  text-align: center;
  background-color: #504133;
  opacity: 0.7;
  flex-direction: column;
}

.slider-wrapper img {
  flex: 0 0 auto;
  width: 100%;
}

.slider-title {
  color: #fff;
  font-size: 2.5em;
}

div.scroll-container {
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
  width: 99%;
}

/******** BOTTOM SECTION ********/
footer {
  background-color: #0e0d0d;
  opacity: 85%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  flex-direction: column;
  align-items: center;
}

.connect-title {
  font-size: 1.5em;
  font-family: "Poly", serif;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.linkedin-button img {
  padding-right: 20px;
}

.github-button img {
  padding-right: 20px;
}

.pinterest-button img {
  padding-right: 20px;
}

.email-button img {
  padding-right: 20px;
}

.copyright {
  font-weight: lighter;
  font-size: 1em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/*MINI TABLET*/
@media only screen and (min-width: 521px) {

  /******** HEADER STYLES ********/
  /******** MAIN STYLES ********/
  div.scroll-container img {
    width: 66%;
  }

  /******** BOTTOM SECTION ********/
}

/*MINI TABLET*/
@media only screen and (min-width: 621px) {

  /******** HEADER STYLES ********/
  /******** MAIN STYLES ********/

  div.scroll-container img {
    width: 55%;
  }

  /******** BOTTOM SECTION ********/
}

/*TABLET*/
@media only screen and (min-width: 768px) {

  /******** HEADER STYLES ********/
  /******** MAIN STYLES ********/
  .mission-text {
    font-size: 3.0em;
  }

  div.scroll-container img {
    width: 43%;
  }

  /******** BOTTOM SECTION ********/
}

@media only screen and (min-width: 1200px) {

  /******** HEADER STYLES ********/
  /******** MAIN STYLES ********/
  .mission-title {
    font-size: 72px;
  }

  div.scroll-container img {
    width: 30%;
  }

  /******** BOTTOM SECTION ********/
}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}